@model InventarioWeb.Models.MovimientoDet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movimiento Detalle</h2>
<h4>Eliminar</h4>

<hr />
@using (Html.BeginForm("Delete", "MovimientoDet"))
{
    @Html.ValidationSummary()

<dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdMovimientoDet)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IdMovimientoDet)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdAlmacen)
    </dt>
    <dd class="col-sm-10">
        <select asp-for="IdAlmacen" class="form-control" asp-items="ViewBag.IdAlmacen">
            <option value="">-- Select Almacen --</option>
        </select>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdArticulo)
    </dt>
    <dd class="col-sm-10">
        <select asp-for="IdArticulo" class="form-control" asp-items="ViewBag.IdArticulo">
            <option value="">-- Select Articulo --</option>
        </select>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Cantidad)
    </dt>
    <dd class="col-sm-10">
        @Html.EditorFor(model => model.Cantidad)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Precio)
    </dt>
    <dd class="col-sm-10">
        @Html.EditorFor(model => model.Precio)
    </dd>
</dl>
    <input type="submit" value="Eliminar" class="btn btn-primary" />
    <a asp-controller="Movimiento" asp-action="Edit" asp-route-id="@ViewData["IdMovimiento"]" class="btn btn-secondary"><i class="fa fa-table"></i> Atras</a>

}

